/* QUIZ LINKS DECORATIONS */
/* ------------------------- */

nav.quiz-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
  }
  
div.list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;

    /* THIS IS A VERTICAL ALIGN CAUSE FLEX = ROW  */
    /* align-items: center; */

    margin-bottom: 6px;

}

/* MAKING LAST LIST ITEM WITHOUT ANY BORDER */

div.list-item:last-of-type {
    margin-bottom: 0px;
}

/* ----------------------- */

/* STYLING A LINK ON MAIN PAGE  */

div.list-item a {
    display: flex;
    flex: row auto;
    align-items: center;

    height: auto;
    padding: 6px;
    margin-right: 6px;

    border-radius: 2px;
    text-decoration: none;
    color: #020402;
    transition: background-color 0.3s;
    background-color: #ededed;
    line-height: 1em;
}

img {
    height: 1em;
    width: 1em;
}   

/* ----------------------- */

/* MOVE LAST ITEM IN DIV.LIST-ITEM FLEX TO RIGHT */

div.list-item a.quiz  {
    margin-left: auto; 
    margin-right: 0;
}

div.list-item *:hover  {
    background-color: #fcfcfc;
    cursor: pointer;
}

/* ----------------------- */

/* STYLING NOT-READY <A> LIST ITEMS  */

div.list-item a.not-ready {
    cursor: not-allowed;
    transition: background-color 0.3s;
}

div.list-item a.not-ready:hover, 
a.cal:hover, 
a.progress:hover {
    background-color: #F3CFCE;
}

/* ------------------------ */


/* SCREEN SIZE FOR IPHONE */

@media screen and (max-width: 325px) {
    div.list-item a {
        line-height: 1.3em;
    }
}

/* STYLES FROM JS */

/* STYLING MAIN ALERT DIV BLOCK FOR INNER STRUCTURING  */

div.info-main {
    position: absolute;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

/* STYLING A.CAL ONLICK ALERT WINDOW  */

div.hover {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.7);

    transition: background-color 0.3s;
}

/* STYLING A.CAL ONLICK INFO-BOX ALERT WINDOW  */

div.info-box {
    position: absolute;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: auto;
    width: 50%;

    border-radius: 4px;
    border: 2px solid #dbdbdb;
    padding: 10px;
    background-color: #ededed;

    transition: background-color 0.1s;
}

/* STYLING INFO-BOX INNER TEXT P ELEMENT  */

p.info-box-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 0.8em;

    line-height: 2em;
    text-align: center;

    margin: 0;
}

/* STYLING INFO-BOX BUTTON ELEMENT  */

button.info-box-button {
    border: none;
    margin-top: 16px;
    border-radius: 2px;
    padding: 6px;

    transition: background-color 0.3s;
    background-color: #dfdfdf;
}

button.info-box-button:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}