/* PAGE LAYOUT (AND SIMPLE) STYLING */

html {
  font-size: 20px;
}

body {
  display: grid;
  min-width: 300px;
  margin: 0;
  grid-template: repeat(4, auto) / repeat(1, auto);
}

header {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 1px dashed red; */
  border-bottom: 4px solid #a22c29;
  background-color: #edede8;
}

header > div {
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

/* STYLING HOME LINK  */

a.home {
  color: black;
  text-decoration: none;
  font-family: 'Chango', monospace;
}

span#red {
  color: #a22c29;
}

/* ----------------------- */

main {
  grid-column: 1 / -1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: Helvetica, sans-serif;
  letter-spacing: 0.12mm;
  line-height: 1.2em;

  margin: 0px 6px 0px 6px;

  /* border: 1px dashed red; */
}

main > div.lining > nav {
  /* border: 1px dashed red; */
}

div.lining {
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width: 1190px) {
  div.lining {
    flex-flow: column;
  }

  nav.quiz-list {
    border-left: 0px;
    border-right: 0px;
  }

  div.lining > nav.perks {
    order: 2;
  }

  nav {
    border-bottom: 3px solid #dfdfdf;
  }

  nav.perks {
    border-bottom: 0px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 16px;
  }
}
