/* QUESTTION FORM STYLING */

form {
  margin: 0;
}

/* QUESTIONBOX STYLING */

div.question-box {
  /* border: 1px dashed black;*/
  padding: 9px 3px 3px 3px;
  width: 70vw;
  margin-top: 0px;
  margin-bottom: 6px;
  border-radius: 6px;
  transition: background-color 0.5s;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

div.question-name-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

div.question-name-box img {
  height: 2em;
  width: 2em;
  transition: background-color 0.3s;
}

div.question-name-box img:hover {
  background-color: #fcfcfc;
  cursor: pointer;
}

div.question-name-box button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  margin-right: 6px;
  margin-left: 16px;
}

div.explain-cont p {
  border-top: 3px solid #004e98;
  text-indent: 0.3cm;
  line-height: 1.5em;
  margin: 8px;
  margin-bottom: 4px;
  padding-top: 6px;
}

div.question-name-box h6 {
  font-size: 1.05em;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 7px;
  margin-left: 10px;
  padding-left: 7px;
  border-left: 3px solid #a22c29;
}

div.question-box:hover {
  /* transition: all 0.5s; */
  background-color: #ededed;
}

/* QUESTTION-CHOICE STYLING */
label {
  display: block;
  padding: 5px;
  box-sizing: border-box;
}

div.single-choice-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: all 0.5s;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

div.single-choice-box:hover {
  background-color: #fcfcfc;
}

label:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

/* RADIO BUTTON STYLING */

input[type='radio'] {
  align-items: center;
  border: 2px solid lime;
  display: none;
}

span.input-box {
  position: relative;
  border: 2px solid #6d9dc5;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  transition: transform 0.02s;
  box-sizing: border-box;
}

span.input-box:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s;
  background-color: #004e98;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='radio']:checked ~ span.input-box:after {
  transform: translate(-50%, -50%) scale(1);
}

/* SETTING ORDER OF FLEX (SINGLE-CHOICE-BOX) ELEMENTS */
div.single-choice-box :nth-child(1) {
  order: 2;
}

div.single-choice-box :nth-child(2) {
  order: 3;
  /* flex: 4; */
}

div.single-choice-box :nth-child(3) {
  order: 1;
}

div.single-choice-box :nth-child(4) {
  order: 4;
  margin-left: 10px;
}

/* CHECK&RESTART BUTTON STYLING w/ RESULTBOX*/

div > button.submit-quiz,
div > button.restart-quiz {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background-color: #ededed;
  font-size: 1.2em;
  font-weight: 900;
  padding: 13px;
  transition: background-color 0.3s;
  flex-grow: 1;
  cursor: pointer;
  outline: none;
}

div > button.restart-quiz {
  margin-right: 6px;
}

div > button.submit-quiz {
  margin-bottom: 0;
}

div > button.restart-quiz:disabled {
  background-color: #fcfcfc;
  cursor: not-allowed;
}

div > button.submit-quiz:disabled:hover {
  background-color: #fcfcfc;
  cursor: not-allowed;
}

div > button.submit-quiz:hover,
button.restart-quiz:hover {
  background-color: #fcfcfc;
}

/* STYLING RESULT BOX BUTTON */

div.result {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background-color: #ededed;
  font-size: 1.2em;
  font-weight: bold;
  padding: 13px;
  width: 70vw;
  /* margin-bottom: 10px; */
  margin-top: 6px;
  text-align: center;
}

/* MEDIA QUIERIES */

@media (max-width: 900px) {
  form {
    width: 100%;
    padding: 0 0px;
    box-sizing: border-box;
  }

  div.question-box {
    width: 100%;
    background-color: #ededed;
    /* border: 1px dashed lime; */
  }

  div.quiz-buttons-cont {
    flex-flow: column nowrap;
    box-sizing: border-box;
    width: 100%;
    /* border: 1px dashed lime; */
  }

  div > button.restart-quiz {
    margin-right: 0px;
    margin-bottom: 6px;
  }

  div.result {
    width: 100%;
  }
}

/* STYLING MAIN ALERT DIV BLOCK FOR INNER STRUCTURING  */

div.info-main {
  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/* STYLING A.CAL ONLICK ALERT WINDOW  */

div.hover {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  /* justify-content: center; */

  height: 100%;
  width: 100%;
  background-color: rgba(237, 237, 237, 0.7);

  transition: background-color 0.3s;
}

/* STYLING A.CAL ONLICK INFO-BOX ALERT WINDOW  */

div.info-box {
  position: absolute;

  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  margin-top: -5%;

  height: auto;
  width: auto;

  border-radius: 6px;
  border: 2px solid #dbdbdb;
  padding: 10px;
  background-color: #ededed;

  transition: background-color 0.1s;
}

/* STYLING INFO-BOX INNER TEXT P ELEMENT  */

p.info-box-text {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;

  line-height: 2em;
  text-align: center;

  margin: 0;
}

/* STYLING INFO-BOX BUTTON ELEMENT  */

button.info-box-button {
  border: none;
  margin-top: 16px;
  border-radius: 6px;
  padding: 6px;

  transition: background-color 0.3s;
  background-color: #dfdfdf;
}

button.info-box-button:hover {
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}
